@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic,latin-ext');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  /*width: 1200px;*/
  margin: 0 auto;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  background-color: #849d8f;
}

.container {
  width: 1146px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.input {
  padding: 10px 15px;
  box-sizing: border-box;
  width: 100%;

  font: inherit;
  font-weight: 700;
  color: #323232;

  border-radius: 5px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  transition: border-color ease 0.3s, box-shadow-color ease 0.3s;
}

.input:hover {
  border-color: #9a9a9a;
  box-shadow: 0 0 0 1px #9a9a9a;
}

.input:focus {
  border-color: #2e88e4;
  box-shadow: 0 0 0 1px #2e88e4;
}

.input::-webkit-input-placeholder {
  font-weight: 400;
}

.input:-ms-input-placeholder {
  font-weight: 400;
}

.input::-ms-input-placeholder {
  font-weight: 400;
}

.input::placeholder {
  font-weight: 400;
}

 .input:focus::-webkit-input-placeholder {
  color: transparent;
};

.input:focus:-ms-input-placeholder {
  color: transparent;
}

.input:focus::-ms-input-placeholder {
  color: transparent;
}

.input:focus::placeholder {
  color: transparent;
}

.btn {
  display: inline-block;
  padding: 10px 15px;

  font: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background-color: #f26843;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #e74a35;

  border: none;
  border-radius: 35px;
  transition: background-image ease 0.3s;
}

.btn:hover,
.btn:focus {
  box-shadow: 0 2px 2px #ac1000;
  background-color: #ec6e5d;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%),
                    linear-gradient(to top, #e74a35 0%, #f26843 100%);
}

.btn:active {
  color: #fceeec;

  background-color: #f26843;
  box-shadow: inset 0 2px 2px #942718;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  }

/*header*/

.main-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-navigation {
  display: flex;
  align-items: center;
  width: 659px;
}

.main-header-logo {
  width: 154px;
  height: 64px;
}

.menu {
  margin: 0;
  margin-left: 5px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 500px;

  list-style: none;
}

.menu-item {
  padding: 7px 13px;
  position: relative;
  border-radius: 35px;

  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-item::after,
.user-menu-item::after {
  content: "";
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: -8px;
  left: 0;
}

.menu > * > a {
  display: inline-block;

  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  vertical-align: middle;

  transition: color 0.3s ease;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.menu-item:hover,
.menu-item:focus {
  color: #323232;

  background-color: #f7f6f3;
}

.menu-item:hover > a,
.menu-item:focus > a {
  color: #323232;
  border-color: transparent;
}

.menu-item:active {
  color: #323232;

  background-color: #f7f6f3;
  box-shadow: inset 0 2px 1px #696969;
  border-radius: 35px;
}

.menu-item:active > a {
  color: #323232;
  border: none;
}

.active {
  background-color: #d07058;
  border-radius: 35px;
}

.active a {
  border: none;
}

.sub-menu {
  margin: 0;
  padding: 0;
  width: 143px;

  position: absolute;
  top: 40px;
  left: -5px;
  visibility: hidden;
  opacity: 0;
  z-index: 1;

  color: #323232;

  list-style: none;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
  overflow: hidden;
  transition: opacity ease 0.3s;
}

.menu-item:hover > .sub-menu {
  visibility: visible;
  opacity: 1;
}

.sub-menu a {
  display: block;
  padding: 7px 20px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;

  transition: background-color ease 0.3s;
}

.sub-menu a:hover,
.sub-menu a:focus {
  color: #323232;
  background-color: #fbded7;
}

.sub-menu a:active {
  color: #323232;
  background-color: #f6b5a5;
}

.sub-menu-active {
  background-color: #d07058;
}

.sub-menu-active a {
  color: #ffffff;
}

.new-items a {
  font-weight: 700;

  border-bottom: 1px solid #d1d0ce;
}

.user-menu {
  width: 350px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.user-menu-item a {
  display: inline-block;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  vertical-align: middle;
  text-align: center;

  background-color: rgba(255, 255, 255, 0.2);
}

.user-menu-item {
  position: relative;
}

.user-menu-item .menu-item {
  padding: 8px 17px;
  padding-left: 45px;
  margin-left: 10px;

  border-radius: 35px;
}

.user-menu-item .menu-item::before {
  content: "";

  position: absolute;
  top: 6px;
  left: 16px;

  width: 21px;
  height: 20px;
}

.user-menu-item .item-search {
  width: 33px;
  height: 33px;
  padding: 0;

  background-image: url("../img/service-img/action-button-search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.item-search:hover,
.item-search:focus {
  background-image: url("../img/service-img/action-button-search-hover.svg");
  background-color: #f7f6f3;
}

.item-login::before {
  background-image: url("../img/service-img/action-button-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}
.item-cart::before {
  background-image: url("../img/service-img/action-button-basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.item-login:hover::before,
.item-login:focus::before {
  background-image: url("../img/service-img/action-button-login-hover.svg");
}

.item-cart:hover::before,
.item-cart:focus::before {
  background-image: url("../img/service-img/action-button-basket-hover.svg");
}

.user-menu-item .cart-fill  {
  color: #323232;

  background-color: #f7f6f3;
}

.cart-fill::before,
 .cart-fill:hover::before {
  background-image: url("../img/service-img/action-button-basket-fill.svg");
}

.header-contacts {
  margin: 0;
  margin-left: auto;
  width: 190px;

  text-align: right;
}

.header-phone {
  display: block;
  margin-top: 5px;
}

.header-phone:hover,
.header-phone:focus,
.header-phone:active {
  color: #ffbc9e;
}
/*modal*/
.modal {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 1;
  visibility: hidden;
  opacity: 0;

  background-color: #f8f7f4;
  border-radius: 5px;
  transition: opacity 0.3s ease;
}

.user-menu-item:hover > .modal {
  visibility: visible;
  opacity: 1;
}

.modal a {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
}

.modal-search {
  padding: 20px 15px;
  width: 341px;
}

.modal-login {
  width: 277px;
  padding: 20px 18px;
}

.login-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.login-form .input {
  width: 241px;
}

.login-form p {
  margin: 0;
  margin-bottom: 20px;
}

.login-form p:last-of-type {
  margin: 0;
  margin-left: auto;
  width: 119px;
  display: inline-block;
  vertical-align: middle;
}

.login-form .btn {
  padding-left: 25px;
  padding-right: 25px;
  margin: 5px 0;
}

.login-link {
  text-decoration: underline;
}

.header-contacts {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.header-contacts a {
  font-size: 22px;
  line-height: 24px;
  color: inherit;
}
/*slider*/
.slider-title {
  font-size: 60px;
  line-height: 60.35px;
}

.promo .btn {
  font-size: 32px;
  line-height: 44px;
}
/*special offers*/
.special-offer {
  padding: 30px 0;

  text-align: right;
}

.special-offer ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;

  font-weight: 700;

  list-style: none;
}

.special-offer li {
  padding: 20px 23px;
  width: 560px;
  border-radius: 30px;
}

.special-offer li:first-of-type {
  background-color: #af113e;
  background-image: url("../img/service-img/special-bg-raspberry.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.special-offer li:last-of-type {
  background-color: #583322;
  background-image: url("../img/service-img/special-bg-chocolate.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.offer-title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 35px;
  line-height: 41px;
  text-align: left;
}

.offer-text {
  margin: 0;
  margin-bottom: 45px;

  font-size: 18px;
  line-height: 22px;
  text-align: left;
}

/*catalog*/
.catalog-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  list-style: none;
}

.catalog-item {
  position: relative;
  width: 267px;
  overflow: hidden;
}

.product-wrap {
  display: flex;
  flex-direction: column;
}


.hover-wrap {
  min-height: 405px;
  width: 100%;
  padding: 5px 12px 20px;
  box-sizing: content-box;
  position: absolute;
  top: -5px;
  left: -12px;
  z-index: 1;

  transition: background-color ease 0.3s, box-shadow ease 0.3s;
}

.catalog-item:hover {
  overflow: visible;
}

.catalog-item:hover .hover-wrap {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.catalog-item:hover .product-wrap {
  position: relative;
  z-index: 2;
}

.btn-hidden {
  display: block;
  box-sizing: border-box;
  max-width: 200px;
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 15px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  visibility: hidden;
  z-index: 2;

  opacity: 0;
  transition: opacity ease 0.3s;
}

.catalog-item:hover .btn-hidden  {
  visibility: visible;
  opacity: 1;
}


.product-preview {

  border-radius: 50%;
  margin-bottom: 15px;

}

.catalog-hits .catalog-item::before {
  content: "";

  width: 61px;
  height: 61px;
  position: absolute;
  z-index: 3;

  background-color: #fff;
  background-image: url("../img/service-img/hit.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.product-title {
  display: inline-block;
  margin: 0;
  margin-bottom: 30px;

  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.2);
          text-decoration-color: rgba(255, 255, 255, 0.2);
  transition: all ease 0.3s;
}

.product-title:hover,
.product-title:focus,
.product-title:active {
  color: #ffbc9e;
  -webkit-text-decoration-color: #ffbc9e;
          text-decoration-color: #ffbc9e;
}

.product-price {
  margin: 0;
  position: absolute;
  top: 210px;
  left: 13px;
  z-index: 2;

  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}

.product-price span {
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
}

/*features*/
.features {
  padding: 20px 25px;
  margin-bottom: 40px;

  color: #323232;

  background-color: #ede2c4;
  background-image: url("../img/service-img/waffle-pattern.png");
  background-repeat: repeat;
  border-radius: 25px;
}

.main-title {
  margin: 0;

  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.feature-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style: none;
}

.feature-item {
  width: 532px;
  padding-left: 56px;
  padding-top: 16px;
  padding-bottom: 5px;
  position: relative;
}

.feature-item::before {
  content: "";
  width: 49px;
  height: 49px;
  position: absolute;
  top: 0;
  left: 0;

  background-position: center;
  background-repeat: no-repeat;
}

.feature-delivery::before {
  background-image: url("../img/service-img/feature-delivery.svg");
}

.feature-tech::before {
  background-image: url("../img/service-img/feature-tech.svg");
}

.feature-farm::before {
  background-image: url("../img/service-img/feature-farm.svg");
}

.feature-raw::before {
  background-image: url("../img/service-img/feature-raw.svg");
}
/*news*/
.news {
  color: #323232;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

}

.news-item {
  padding: 25px 20px;
  padding-bottom: 40px;
  max-width: 560px;
  width: 100%;

  background-color: #fff;
  border-radius: 30px;
}

.item-blog {
  padding-right: 259px;

  background-color: #fff;
  background-image: url("../img/service-img/blog-bg-strawberry.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.item-blog p {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 500;
}

.blog-title {
  margin: 0;
}

.blog-title a {
  color: #323232;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-decoration: underline;

  transition: color ease 0.3s, -webkit-text-decoration-color ease 0.3s;

  transition: color ease 0.3s, text-decoration-color ease 0.3s;

  transition: color ease 0.3s, text-decoration-color ease 0.3s, -webkit-text-decoration-color ease 0.3s;
}

.blog-title a:hover,
.blog-title a:focus,
.blog-title a:active {
  color: #ffbc9e;

  -webkit-text-decoration-color: rgba(255, 188, 158, 0.3);

          text-decoration-color: rgba(255, 188, 158, 0.3);
}

.item-subscribe {
  background-color: #f8f7f4;
  padding-right: 22px;
}

.item-subscribe-wrap {
  padding: 5px;

  background-color: #f8f7f4;
  border-radius: 30px;
  background-image: url("../img/service-img/border-post.svg");
  background-repeat: no-repeat;
  background-position:  0 0;
  background-size: cover;
}

.input-email {
  width: 368px;
  margin-right: 10px;
}


/*contacts*/
.contacts {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #323232;
  position: relative;

  background-color: #f7f1d9;
}

.contacts .container {
  padding: 55px 0;
  position: relative;
  z-index: 4;
}

.contacts-map {
  width: 100%;
  height: 430px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.map {
  width: 100%;
  height: 430px;
}

.map-pin {
  content: "";
  width: 218px;
  height: 140px;
  position: absolute;
  top: 43%;
  left: 266px;
  -webkit-transform: translateY(-43%);
          transform: translateY(-43%);

  background-image: url("../img/service-img/pin.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.contacts-block {
  width: 302px;
  padding: 30px 25px;
  margin-left: auto;

  background-color: #fffefe;
  border-radius: 30px;
}

.contacts-block p:first-of-type {
  margin: 0;
  margin-bottom: 5px;
  padding-right: 100px;
}
.contacts-block p:last-of-type {
  margin: 0;
  margin-bottom: 22px;
}

.contacts-adress {
  margin: 0;
  margin-bottom: 20px;

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.contacts-phone {
  display: block;
  padding: 10px 0;

  color: #323232;
  font-size: 18px;
  font-weight: 700;
}

.contacts .btn {
  display: block;
  width: 100%;
}

/*feedback modal*/

.modal-feedback {
  display: none;
  position: fixed;
  top: 120px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 20px 26px 27px ;
  width:478px;
  z-index: 1000;

  opacity: 1;
}

.feedback-input {
  width: 267px;
}

.modal-feedback b {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #323232;
}

.modal-feedback p {
  margin: 0;
  margin-top: 20px;
}

.modal-feedback .btn {
  display: block;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 25px;
  margin-left: auto;
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 17px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}
.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 0;
  left: -5px;

  width: 23px;
  height: 3px;

  background-color: #231f20;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
}

/*footer*/
.page-footer {
  display: flex;
  align-items: bottom;
  padding: 36px 0;
}

.inner-page .page-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-right: 215px;
  padding: 0;
  width: 185px;

  list-style: none;
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;

  box-sizing: content-box;

  border: 4px solid #c1cec7;
  border-radius: 50%;
}

.social-btn svg {
  opacity: 0.8;
  /*transition: opacity ease 0.3s;*/
}

.social-btn:hover svg,
.social-btn:focus svg {
  opacity: 1;
}

.social-btn:active svg {
  opacity: 0.7;
}

.social-btn:active {
  box-shadow: inset 0 2px 1px #696969;
}


.footer-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-left: 22px;
  width: 330px;

  color: #ffffff;

  list-style: none;
}

.footer-menu li {
  width: 165px;
}

.footer-menu li:nth-child(odd) {
  width: 143px;
}

.footer-menu a {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  /*transition: all ease 0.3s;*/
}

.footer-menu a:hover,
.footer-menu a:focus,
.footer-menu a:active {
  color: #ffbc9e;

  border-bottom-color: rgba(255, 188, 158, 0.3);
}

.suppliers {
  position: relative;
}

.suppliers::before {
  content: "";
  width: 15px;
  height: 13px;
  position: absolute;
  top: 6px;
  left: -22px;

  background-image: url("../img/service-img/footer-menu-suppliers-heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;


}
.suppliers a {
  font-weight: 700;
}

.footer-copyright {
  display: flex;
  align-items: flex-end;
  margin: 0;
  margin-left: auto;
  width: 190px;
  position: relative;

}

.copyright-btn {
  width: 114px;
  height: 39px;
  position: absolute;
  top: -15px;

  background-image: url("../img/service-img/html-academy-logo.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-copyright span {
  margin-top: auto;

  color: #fefefe;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}


/*catalog.html*/
.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  list-style: none;
}

.breadcrumbs li {
  margin-right: 20px;
  position: relative;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li::after {
  content: "»";
  position: absolute;
  top: 0;
  right: -13px;
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs a {
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: color ease 0.3s;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;

  border-bottom-color: rgba(255, 188, 158, 0.3);
}

.inner-page .main-title {
  margin: 0;
  margin-bottom: 30px;

  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}
/*filters*/
.filter {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.filters legend,
.filter-group-title {
  display: inline-block;
  margin-bottom: 5px;
  padding-left: 15px;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  vertical-align: top;
}

.filter-group {
  padding: 0;
  margin-bottom: 20px;
  margin-right: 14px;
  border: none;
}

.filter-group:last-child {
  margin-right: 0;
}

.group-sort {
  width: 194px;
}

.group-price {
  width: 220px;
}

.group-fat {
  width: 415px;
}

.group-filler {
  width: 703px;
}

.filter-option label {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.filter-field {
  margin: 0;
  padding: 0;

  list-style: none;
  border-radius: 35px;
  background-color: rgba(255, 255, 255, 0.3);
}


.filter-field select {
  background-color: transparent;
  width: 100%;
  padding: 9px 5px 9px 16px;

  font: inherit;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  border: none;
  cursor: pointer;
}

.filter-field select:hover,
.filter-field select:focus {
  color: #323232;
  outline: none;
}

.filter-field option {
  color: #323232;
}

.price-controls {
  display: inline-block;
  vertical-align: top;
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 16px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls input {
  margin: 0;
  width: 30px;

  color: inherit;
  font: inherit;
  text-align: right;

  background: none;
  border: none;
}

.group-price .filter-field {
  padding: 17px 22px;
}

.range-controls {
  position: relative;
}

.range-toggle {
  box-sizing: content-box;
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  border-width: 10px;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-controls .scale {
  height: 4px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 4px;

  background: #ffffff;
}

.group-fat .filter-field,
.group-filler .filter-field {
  display: flex;
  justify-content: space-between;
  padding: 8px 14px;
}

.filter-option {
  padding-left: 32px;
}

.filter-option label {
  position: relative;

  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-input + label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -30px;

  width: 22px;
  height: 22px;
}

.filter-input-radio + label::before {
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.8);
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before {
  border-color: #ffffff;
}

.filter-input-radio:disabled + label::before {
  border: 2px solid rgba(255, 255, 255, 0.4);
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -24px;

  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.filter-input-radio:checked:hover + label::after,
.filter-input-radio:checked:focus + label::after {
  background-color: #ffffff;
}

.filter-input-radio:checked:disabled + label::after {
  background-color: rgba(255, 255, 255, 0.4);
}

.filter-input-checkbox + label::before {
  border: 2px solid #ffffff;
  border-radius: 5px;
  opacity: 0.8;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
  opacity: 1;
}

.filter-input-checkbox:disabled + label::before {
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  width: 10px;
  height: 17px;
  position: absolute;
  top: -4px;
  left: -23px;

  border-right: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  opacity: 0.8;
  -webkit-transform: rotate(42deg);
          transform: rotate(42deg);
}

.filter-input-checkbox:checked:hover + label::after,
.filter-input-checkbox:checked:focus + label::after {
  opacity: 1;
}

.filter-input-checkbox:disabled + label::after,
.filter-input-checkbox:checked:disabled + label::after {
  opacity: 0.4;
}

.filter-btn {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  display: inline-block;
  margin: auto 0;
  padding: 8px 30px;


  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid #ffffff;
  border-radius: 35px;
  transition: color 0.3s ease, backdround-color 0.3s ease;
}

.filter-btn:hover,
.filter-btn:focus {
  color: #323232;

  background-color: #fff;
}

.filter-btn:active {
  color: #323232;

  box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
}

.pagination-wrap {
  display: flex;
  justify-content: flex-end;
}

.pagination-controls {
  width: 26px;
  height: 26px;

  background-image: url("../img/service-img/pagination-controls.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.pagination-prev {
  margin-right: 5px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  opacity: 0.3;
}

.pagination-next {
  margin-left: 5px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-item {
  margin-right: 5px;
  text-align: center;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 5px;
  width: 26px;
  height: 26px;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;

  border-radius: 50%;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.pagination-item-current a {
  color: #000000;

  background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;

  background-color: #ffffff;
}

